.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ToDo-Window {
  background-color: antiquewhite;
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: row;
}

.ToDo-Window-Left-Column {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 600px;
}

.App-Logo-Row {
  width: 200px;
  height: 50px;
  align-content: center;
}

.Category-Row {
  background-color: white;
  display: flex;
  width: 200px;
  height: 50px;
  color: black;
}

.ToDo-Window-Right-Column {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.Search-Bar {
  display: flex;
  width: 600px;
  height: 50px;
  color: black;
  font-size: 10pt;
  font-family: 'JetBrains Mono', Courier, monospace;
}

.ToDo-List-View {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.Add-ToDo-Bar {
  display: flex;
  width: 600px;
  height: 50px;
  color: black;
  font-size: 10pt;
  font-family: 'JetBrains Mono', Courier, monospace;
}